/*esercizio 1*/
.ex-1-square{
  transition: all 2s;
}

.ex-1-square:hover{
  background-color: red;
}

/*esercizio 2*/
.ex-2-square{
  transition: width 2.5s;
}

.ex-2-square:active{
  width: 100%;
}

/*esercizio 3*/
.ex-3-square{
  transition: all 0.5s;
}

.ex-3-square:hover{
  border-radius: 50%;
}

/*esercizio 4*/
.ex-4-square{
  transition: all 1s;
}

.ex-4-square:hover{
  background: none;
}

/*esercizio 5*/
.ex-5-square{
  transition: all 1.5s;
}

.ex-5-square:hover{
  transform: scale(2);
}

.ex-5-square:active{
  transform: scale(0.5);
}

/*esercizio 6*/
.ex-6-img:hover{
  filter: grayscale(1);
}

/*esercizio 7*/
.ex-7-img{
  transition: all 2s;
}

.ex-7-img:hover{
  filter: grayscale(1) sepia(50%);
}

/*esercizio 8*/
.ex-8-img{
  transition: all 2s;
}

.ex-8-img:hover{
  filter: grayscale(1) sepia(60%);
  border-radius: 20px;
}

/*esercizio 9*/
.ex-9-img{
  transition: all 2s;
}

.ex-9-img:hover{
  filter: grayscale(1) sepia(60%);
  border-radius: 20px;
  transform: scale(1.5);
}

/*esercizio 10*/
.ex-10-icon{
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0%{
    transform: rotate(1turn);
  }
}

/*esercizio 11*/
.ex-11-icon:hover{
  animation-name: roll;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

@keyframes roll{
  0%{
    transform: rotate(0);
  }

  75%{
    transform: rotate(270deg);
  }

  100%{
    transform: rotate(0);
  }
}

/*esercizio 12*/
.ex-12-button:hover .ex-12-top-white{
  animation-name: move-space-top;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes move-space-top{
  0%{
    left: 10%;
  }

  25%{
    left: 50%;
  }

  50%{
    left: calc(100% - 60px);
  }

  75%{
    left: 50%;
  }

  100%{
    left: 10%;
  }

}

.ex-12-button:hover .ex-12-bottom-white{
  animation-name: move-space-bottom;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes move-space-bottom{
  0%{
    right: 10%;
  }

  25%{
    right: 50%;
  }

  50%{
    right: calc(100% - 60px);
  }

  75%{
    right: 50%;
  }

  100%{
    right: 10%;
  }

}

/*esercizio 13*/
.ex-13-button:hover .ex-13-top-white{
  animation-name: move-top-complete;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes move-top-complete{
  
}

.ex-13-button:hover .ex-13-bottom-white{
  animation-name: move-bottom-complete;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes move-bottom-complete {
  
}

